button {
    margin-left: 4%;
    margin-top: 22%;
    margin-bottom: 2%;
  }
  
  .custom-btn {
    width: 150px;
    height: 60px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 130%;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    display: block;
    outline: none;
  }
  
  .btn-1 {
    background: rgb(80, 86, 175);
    background: linear-gradient(0deg, rgb(75, 137, 199) 0%, rgb(7, 80, 144) 100%);
    border: none;
  }
  
  .btn-1:hover {
    background: rgb(80, 86, 175);
    background: linear-gradient(0deg, rgb(7, 80, 144) 0%, rgba(2, 126, 251, 1) 100%);
  }
  .modal-body{
    background-color: rgb(221, 238, 243);
   }