.background {
   border: 3px solid rgba(0, 0, 0, 0.658);
   margin-left: 2%;
   margin-right: 2%;
   
    height: 200%;
    background-color: rgba(250, 250, 249, 0.747);
    background-repeat: repeat;
    background-size: contain;
    z-index: -1;
  }