<h3 *ngIf = "recenzii.length !== 0" style="text-align: center; margin-top: 2%;">Recenziile sportivilor</h3>
<h3 *ngIf = "recenzii.length == 0" style="text-align: center; margin-top: 2%; color:rgba(0, 0, 0, 0.281);">Nu există recenzii pentru această competiție</h3>
<div class="recenzii-container">
    <button class="prev" (click)="prev()" [disabled]="index === 0" *ngIf = "recenzii.length > 3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
          </svg>
    </button>
    
    <div class="recenzii" id="recenzii-container">
      <div *ngFor="let recenzie of recenzii.slice(index, index + recenziiVizibile)" class="recenzie" >
        <img src="{{recenzie.urlPozaProfil}}" style="width:200px; height: 200px; border-radius: 10%;">
        <p class="nume-utiliz">{{recenzie.nume}} {{recenzie.prenume}}</p>
        <hr style="border: 2px solid rgb(123, 177, 173);">


        <ngb-rating [(rate)]="recenzie.numarStele" [max]="5" [readonly]="true">
            <ng-template let-fill="fill">
                <span class="iconHeart" [class.filled] = "fill === 100">
                    <span class="selectIconHeart" [style.width.%]="fill"></span>
                    &hearts;
                </span>
            </ng-template>
        </ngb-rating>

        <p class="recenzie-utiliz">{{recenzie.text}}</p>
        <hr style="border: 2px solid rgb(123, 177, 173);">
        <p class="perioada">Dată completare:

            <span class="data-desfasurare">{{ recenzie.completareRecenzie|date:"d/M/Y"}}</span>
        </p>

      </div>
    </div>
    <button class="next" (click)="next()" [disabled]="index + recenziiVizibile === recenzii.length" *ngIf = "recenzii.length > 3">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
          </svg>
    </button>
  </div>
