
.iconHeart {
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    padding-right: 0.5rem;
    color: rgba(128, 128, 128, 0.623);
}

.filled{
    color: rgba(211, 70, 129, 0.767);
}

.selectIconHeart{
    position: absolute;
    display: inline-block;
    color: rgba(211, 70, 129, 0.767);
}
.modal-body{
  background-color: rgb(221, 238, 243);
 }

.butonul button {
    margin-left: 40%;
    margin-top: 2%;
  }
  
  .custom-btn {
    width: 300px;
    height: 50px;
    color: white;
    border-radius: 5px;
    font-weight: 500;
    font-size: 130%;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s ease;
    display: block;
    outline: none;
  }
  
  .btn-1 {
    background: rgb(80, 86, 175);
    background: linear-gradient(0deg, rgb(75, 137, 199) 0%, rgb(7, 80, 144) 100%);
    border: none;
  }
  
  .btn-1:hover {
    background: rgb(80, 86, 175);
    background: linear-gradient(0deg, rgb(7, 80, 144) 0%, rgba(2, 126, 251, 1) 100%);
  }

.punct{
    color: rgba(240, 248, 255, 0);
}