.iconHeart {
    position: relative;
    display: inline-block;
    font-size: 2.5em;
    padding-right: 0.5rem;
    color: rgba(128, 128, 128, 0.623);
}

.filled{
    color: rgba(211, 70, 129, 0.767);
}

.selectIconHeart{
    position: absolute;
    display: inline-block;
    color: rgba(211, 70, 129, 0.767);
}

